<%- include("partials/header")%>

<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"></span>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
  </div>
</nav>

<div class="register-div">
  <!-- <h1>Login</h1> -->
<form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="username" aria-describedby="emailHelp", name="username">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>

<h1>Or <i class="fa-sharp fa-solid fa-wine-bottle"></i></h1>

<div class="col-sm-4 register-div">

  <div class="card social-block">
    <div class="card-body">
      <a href="/auth/google" class="btn btn-block btn-social btn-google" role="button"><i class="fa-brands fa-google"></i>Sign In with Google</a>
    </div>
  </div>

  <div class="card social-block">
    <div class="card-body">
      <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook" role="button"><i class="fa-brands fa-facebook"></i>Sign In with Facebook</a>
    </div>
  </div>

</div>


<%- include("partials/footer")%>