

body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    color: #333;

    /* background-color: #e499f0; */
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/green-fibers.png"); 

 
}

main{
    flex-grow:1;
}

footer {
    height:30px;
    color:white;
}

.title {
    margin:20px auto 20px;
    color: #660000;
    font-family: 'Pacifico', cursive;
}

.form-div {
    width:400px;
    margin:auto;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding:40px;

    /* background-color: #363536;
    background-image: url("https://www.transparenttextures.com/patterns/grey-washed-wall.png"); */
    background-color: #660000;
    background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}

.each-form{
    margin-bottom:14px;
}

.results-div{
    width:80%;
    margin:auto;
}

.each-card {
    background-color:wheat;
    border-radius: 20px;
    margin:auto;
}

.each-column {
    margin:auto;
    padding:40px;
}

.add-button {
    margin-top: 20px;
}

.delete-button {
    color: red;
    border:transparent;
}

.delete-button:hover {
    color: white;
    background-color: purple;
}

/* landing.ejs */
.landing-div {
    width:70%;
    margin:10% auto auto auto;
    padding:60px;
    color:white;
}

/* register.ejs */
.register-div{
    width:400px;
    margin:auto;
    padding:60px;
    color:white;
}