

body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    color: #333;

    /* background-color: #e499f0; */
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/green-fibers.png"); 

 
}

main{
    flex-grow:1;
}

footer {
    height:30px;
    color:white;
}

.title {
    margin:20px auto 20px;
    color: #660000;
    font-family: 'Pacifico', cursive;
}

.sub-title {
    /* color:cornflowerblue; */
    /* color:#abad6b; */
    color:#946e80;
}

.form-div {
    max-width:40%;
    min-width: 320px;
    margin:auto;
    /* background-color: blanchedalmond; */
    border-radius: 20px;
    padding:40px;
    background-color: #660000;
    background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}

.each-form{
    margin-bottom:14px;
}

.search-div {
    max-width:40%;
    min-width: 320px;
    margin:auto;
    /* background-color: blanchedalmond; */
    /* border-radius: 20px; */
    padding:40px;
}

.results-div{
    width:80%;
    margin:auto;
}

.each-card {
    border-radius: 20px;
    margin:auto;
    width: auto;
    background-color: #948162;
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}

.each-column {
    margin:auto;
    padding:26px;
}

.wine-name {
    font-weight: bold;
    
}

.add-button {
    margin-top: 20px;
}

.delete-button {
    color:#333;
    border:transparent;
}

.delete-button:hover {
    color: white;
    background-color:#660000;
}

/* landing.ejs */
.landing-div {
    width:70%;
    margin:10% auto auto auto;
    padding:60px;
    color:white;
}

/* register.ejs */
.register-div{
    width:400px;
    margin:auto;
    padding:60px;
    color:white;
}

/* Responsiveness */

/* mobile */
@media only screen and (max-width: 430px){
.landing-div {
    width:100%;
    margin:30% auto auto auto;
    padding:20px;
    color:white;
}

.title {
    margin:10px auto 10px;
    color: #660000;
    font-family: 'Pacifico', cursive;
    font-size:xx-large;
}

.sub-title {
    color:cornflowerblue;
    font-size:small;
}
}

/* tablet */
@media only screen and (max-width: 800px) and (min-width:431px) {

}