body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    flex-grow:1;
}

footer {
    height:30px;
}